.Testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}
.left-t{
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 2rem;
    color: white;
    text-transform: uppercase;
}
.left-t>:nth-child(1){
    color: var(--orange);
    font-weight: bold;
}
.left-t>:nth-child(2),
.left-t>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}
.left-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.right-t{
    display: flex;
    flex: 1;
    position: relative;
}
.right-t>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}
.arrows{
    position: absolute;
    bottom: 0;
    left: 2rem;
    
}
.arrows>img{
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    opacity: 0.7;
}
.arrows>img:hover{
    scale: 1.2;
    cursor: pointer;
    opacity: 1.2;
}
.right-t>:first-child {
    background-color: initial;
    border: 2px solid orange;
    right: 9rem;
    top: 0.9rem;
}
.right-t>:first-child, .right-t>img {
    height: 20rem;
    position: absolute;
    width: 17rem;
}
.right-t>:nth-child(2) {
    background: var(--planCard);
    height: 19rem;
    position: absolute;
    right: 7rem;
    top: 4rem;
    width: 17rem;
}